// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles  
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
+font(novareg, proximanova-reg)  
+font(novaregc, proximanova-cond-reg)  
+font(novabold, proximanova-bold)  
+font(novablackc, proximanova-cond-black)  
+font(rubl, alsrubl-tahoma-regular)
+font(rubl-b, alsrubl-tahoma-bold)
+font(roadradio-webfont, roadradio-webfont)
+font(roboto-light, roboto-light)
+font(roboto-thin, roboto-thin)
+font(roboto-regular, roboto-regular)
+font(circle-regular, circle-regular)

=freg
	font-family: "novareg", Arial, sans-serif 
=fbold
	font-family: "novabold", Arial, sans-serif 
=fregc
	font-family: "novaregc", Arial, sans-serif 
=fblackc
	font-family: "novablack", Arial, sans-serif 
=rubl
	font-family: "rubl", Verdana, Arial, sans-serif 
=rubl-b
	font-family: "rubl-b", Verdana, Arial, sans-serif 
=radio
	font-family: "roadradio-webfont", Verdana, Arial, sans-serif 
=robl
	font-family: "roboto-light", Verdana, Arial, sans-serif 
=robth
	font-family: "roboto-thin", Verdana, Arial, sans-serif 		
=robreg
	font-family: "roboto-regular", Verdana, Arial, sans-serif
=circ
	font-family: "circle-regular", Verdana, Arial, sans-serif	
	
//var   
$blue: #0c8ac7
$red: #e76e66
$green: #1ea46d
$gray: #cdcdcd

//*
::-webkit-scrollbar
	width: 5px
	height: 5px
::-webkit-scrollbar-thumb
	width: 5px
	background: #525252
	border-radius: 3px
::-webkit-scrollbar-track-piece
	background: none

//general
body
	position: relative
	background: #F4F4F4 
	+freg
	font-size: 13px
	font-weight: normal 
	line-height: 1.4
	color: #262626 	
	min-width: 1180px
a
	text-decoration: none 
button
	background: none 
.wrap
	+clr
.wrapper
	overflow: hidden
// common blocks
.out
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 2
.header
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: auto
	height: 55px
	background: #262626  
	z-index: 200 
.header_simple
	position: static
	text-align: center
	.logo
		position: static
		display: inline-block
	
.sidebar
	position: absolute
	top: 55px
	left: 0
	bottom: 0
	z-index: 21000
	width: 299px 
	background: #fff
	border-right: 1px solid #ccc  
.sidebar_info
	background: #dfdfdf 	
	.sidebar__in
		top: 0
	.sidebar__wrap
		bottom: 10px
		-ms-overflow-x: hidden
		overflow-x: hidden
	.user-enter-img
		margin-top: 17px
		&:before
			content: ""
			position: absolute
			left: 50%
			top: 50%
			margin: -90px 0 0 -90px 
			width: 180px
			height: 180px
			z-index: 3
			border-radius: 50%
			background: rgba(205,205,205,0) 
		&:hover 
			&:before
				background: rgba(205,205,205,.5) 
			a
				opacity: 1
.container
	position: absolute
	top: 55px
	left: 300px
	right: 0
	bottom: 0
.container__in
	padding: 0 20px
	
.logo
	position: absolute
	top: 0
	left: 0
	z-index: 21000
	padding-left: 20px
	background: #262626 
	height: 55px
	width: 300px
	+fblackc
	line-height: 55px
	font-size: 38px
	color: #fff 
	+box
	span
		color: #ccc 
		
.nav
	position: absolute
	top: 0
	left: 300px
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		&.is-active
			a
				color: #959595 		
	a
		display: table-cell
		height: 55px
		padding: 0 20px
		vertical-align: middle
		font-size: 15px
		color: #fff
		text-transform: uppercase
		+fregc
		+tr(color .2s linear)
		sup
			position: relative
			top: -10px
			padding: 0 5px
			background: $green
			border-radius: 6px 
			vertical-align: top
			font-family: Arial, sans-serif 
			font-size: 11px
			color: #262626 
		&:hover
			color: $red

			
.add
	float: right	
	padding: 9px 20px
.add__in
	position: relative	
	&:hover
		button
			color: #F3B7B3 
		ul
			visibility: visible 
			top: 36px
			opacity: 1
	button
		position: relative
		width: 160px 
		height: 36px
		background: $red
		font-size: 16px
		color: #FFF 
		+freg
		+tr(color .2s linear)
		z-index: 2 
	ul
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 5px
		background: $red 
		text-align: center
		visibility: hidden 
		opacity: 0 
		+tr(all .2s linear)
		z-index: 1  
		&:before
			content: ""
			position: absolute
			top: 0px
			left: 50%
			margin-left: -19px
			width: 38px
			height: 1px
			background: #B75C56 
	a
		display: block
		padding: 3px
		font-size: 15px
		color: #fff 
		+tr(color .2s linear)
		&:hover
			color: #F3B7B3 

.login
	position: relative
	float: right
	&:hover
		.login__head
			background: #363636
		.login__drop
			top: 55px
			opacity: 1
			visibility: visible  
.login__head
	position: relative
	height: 49px
	padding: 6px 10px 0 15px
	border: 1px solid #363636
	border-width: 0 1px
	background: #262626 
	cursor: pointer
	overflow: hidden
	+tr(background .2s linear)
	z-index: 2 
	> img
		float: left
		margin-right: 10px
		border-radius: 50%
	> span
		float: left
		padding-top: 10px
		+fregc
		font-size: 15px
		color: $red 
		white-space: nowrap
		line-height: 1
		em
			display: block
			position: relative
			padding-left: 10px
			+freg
			font-style: normal
			font-size: 12px
			color: #685A8B 
			&:before
				content: ""
				position: absolute
				top: 3px
				left: 0
				width: 6px
				height: 6px
				border-radius: 50%
				background: #685a8b 
	> i
		float: left
		margin: 15px 0 0 20px
		+arr(8,6,#8e8e8e,b)
.login__drop
	position: absolute
	top: 0
	left: 0
	right: 0
	background: #363636
	opacity: 0
	visibility: hidden
	+tr(all .2s linear)  
	z-index: 200
.login__actions
	padding: 5px 15px 15px
	li
		margin-top: 10px
		&:first-child
			margin: 0
	a
		position: relative
		display: block
		padding-left: 24px
		color: #fff 
		+tr(color .2s linear)
		&:hover
			color: $red 
	i
		position: absolute
		top: 1px
		left: 0
.login__ico-setting
	+s(login-setting)		
.login__ico-edit
	+s(login-edit)		
.login__ico-out
	+s(login-out)	
.login__event
	box-shadow: 0 3px 3px #2e2e2e inset
	overflow: hidden
.login__event-item
	display: block
	padding: 10px 15px
	border-top: 1px solid #2e2e2e 
	i
		position: relative
		display: block
		margin-bottom: 3px
		padding-left: 15px
		font-style: normal
		font-size: 11px
		color: #a0a0a0
		&:before
			content: ""
			position: absolute
			top: 2px
			left: 0
			width: 10px
			height: 10px
			border-radius: 50%
			background: #685a8b 
	span
		display: block
		color: #F1F1F1
		line-height: 1.3 
		 

