//renew styles
.login__head
	&.new
		> span
			padding-top: 13px
		> i
			margin: 17px 0 0 20px 
			
.btn-cancel_big
	&.new
		background: #959595
		
.sidebar__in
	&.new
		top: 89px	
		
.add-event-wrap
	&.new
		border-bottom: none 				
		
//form
.fwrap
	+clr
	padding: 0 30px 
	
.fwrap__type
	text-align: center 
	label
		padding-right: 50px 		
	span
		display: block
		font-size: 15px  
		
.fwrap__variation
	float: left

.variaton__bl
	margin-bottom: 35px 		

//radio-key new	
.radio-key__title
	color: #2B2A29 
	padding-bottom: 15px
	font-size: 14px
	
.radio-key
	span
		color: #aaaaaa 
		border-bottom: none
		&:before 
			width: 50px
			height: 25px
			border: 1px solid #9e9e9e
			border-radius: 20px
		&:after
			top: 4px
			width: 19px
			height: 19px
			border-radius: 50%
			background: $blue 
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0 
		&:checked + span
			color: $blue
			border-color: transparent
.radio-key__var-1
	padding-right: 30px
	& > span
		&:before
			right: -56px
		&:after
			right: -50px
	& > input
		&:checked + span
			z-index: 2
			&:after
				right: -31px
.radio-key__var-2
	padding-left: 30px
	& > span
		&:before
			left: -59px
		&:after
			left: -50px
	& > input
		&:checked + span
			z-index: 2
			&:after
				left: -32px	  