			
.stats
	height: 49px
	padding: 0 20px
	li
		display: table-cell
		height: 49px
		padding-left: 25px
		vertical-align: middle
		&:first-child
			padding: 0
		&.is-active
			span, sup
				color: #262626
			span
				border-color: transparent
			a
				cursor: default
				&:hover			
					span
						border-color: transparent
						color: #262626 
					sup
						color: #262626  
	a
		display: block
		&:hover			
			span
				border-color: $red
				color: $red
			sup
				color: $red 
	span
		display: inline-block
		border-bottom: 1px dotted #6E6E6E
		text-transform: uppercase
		color: #6E6E6E 
		line-height: 1
		+tr(all .2s linear)
	sup
		position: relative
		top: -10px 
		vertical-align: top
		font-size: 12px
		font-weight: bold
		color: #6E6E6E 
		+tr(color .2s linear)
		
.actions
	border: 1px solid #ccc
	border-width: 1px 0
	font-size: 0
	
.search
	position: relative
	display: inline-block
	width: 251px 
	vertical-align: top
	input
		width: 100%
		height: 40px
		padding: 0 10px 0 40px
		font-size: 13px
		color: #6e6e6e 
		+box
	i
		position: absolute
		top: 50%
		left: 20px
		margin-top: -6px
		+s(search-ico)

.search_big
	z-index: 2
	width: 100%
	input
		height: 41px
		border-bottom: 1px solid #dedede 
		font-size: 15px
		+placeholder
			color: #6e6e6e
	i
		+s(search-ico-dark)
.btn-filter
	width: 48px
	height: 40px 
	border-left: 1px solid #ccc  
	vertical-align: top
	font-size: 0
	i
		display: inline-block
		+s(btn-filter)
	&:hover
		i
			+s(btn-filter-h)

.select-all	
	border-bottom: 1px solid #ccc 
	background: #e9e9e9
	.checkbox
		padding: 6px 20px
	.checkbox__in
		padding-top: 3px
.select-count
	height: 27px
	padding-top: 13px
	background: #dfdfdf
	text-align: center
	+fbold
	color: $red 
	
.sidebar__in
	position: absolute
	top: 127px
	left: 0
	right: 0
	bottom: 0	
	background: #dfdfdf
	
.sidebar__wrap
	position: absolute
	top: 10px
	left: 10px
	right: 1px
	bottom: 78px
	padding-right: 3px
	overflow: auto	
.user
	position: relative
	padding: 8px 11px 8px 45px
	margin-top: 2px
	background: #FFF  
	+clr
	> i
		margin-top: 8px
	&:first-child
		margin: 0
	&:after
		content: ""
		position: absolute
		top: 2px
		right: 3px
		+arr(14,14,#dfdfdf,tr)
		opacity: 0
		+tr(opacity .2s linear) 
	&:hover
		&:after
			opacity: 1 
	.checkbox
		position: absolute
		top: 16px
		left: 11px
	span
		display: block
		font-weight: normal
		+text-overflow
	span, a
		+fregc
	a
		font-size: 16px
		color: $blue
	span
		font-size: 14px
.user__pic	
	position: relative
	float: left
	width: 40px
	height: 40px
	margin-right: 11px 
	border-radius: 50%
	background: #D5D5D5 
	overflow: hidden
	img
		position: relative
		display: block
		z-index: 2
	i
		position: absolute
		top: 9px
		left: 9px
		+s(users-ico)
		
.subscribe
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding: 8px 10px
	background: #ccc 
	text-align: center
.subscribe__title
	margin-bottom: 8px
	font-size: 10px
	text-transform: uppercase
	color: #8c8c8c 
.subscribe__list
	font-size: 0
	li
		display: inline-block
		margin: 0 1px
		vertical-align: top
	a
		display: block
		width: 86px
		height: 30px
		background: #fff 
		line-height: 30px
		font-size: 13px
		text-transform: uppercase
		color: $red  
		+tr(all .2s linear)
		&:hover
			background: $red
			color: #fff  
.container_feed
	.item
		margin-bottom: -1px
		&:hover
			z-index: 2
.container_mod
	.container__in
		padding-top: 0

.top
	position: relative
	height: 50px
	padding: 0 20px
	background: #ccc  
	.filter-list
		margin-top: 16px
	.radio-key
		float: right
		margin-top: 14px
.top__title
	display: table-cell
	height: 50px
	vertical-align: middle
	+fbold
	font-size: 18px
	sup
		position: relative
		top: -4px
		font-size: 12px
		vertical-align: top
.top__line
	position: absolute
	left: 21px
	right: 21px
	top: 100%
	height: 14px
	background: #fff
	border: 1px solid $gray
	border-top: 0 
	box-shadow: inset 0 -1px 0 #fcfcfc
	&:before,
	&:after
		content: ""
		position: absolute
		border: 1px solid $gray
		border-top: 0 
		background: #fcfcfc  
	&:before
		left: 3px
		right: 3px
		bottom: -3px
	&:after
		left: 6px
		bottom: -5px
		right: 6px
.filter-list
	float: right
	li
		float: left
		margin-left: 40px
		&:first-child
			margin: 0
		&.is-active
			a
				border-bottom: none 
				color: #000 
	a
		font-size: 12px
		text-transform: uppercase
		color: #616161
		border-bottom: 1px dotted  
		+tr(all .2s linear)
		&:hover
			color: $red 
.filter-list_fixed-width
	margin-right: 21px
	li
		margin-left: 5px
		&:nth-child(1),
		&:nth-child(2)
			width: 85px
		&:nth-child(3)
			width: 185px
			
.filter-list__price
	color: $green
	font-size: 16px
	+freg 
	&.is-inactive
		color: #cecece 
		
.filter-list__quant
	span
		border-bottom: 1px dotted   
		cursor: pointer
		+transition()
		&:hover
			color: $red 
		&.is-inactive
			display: inline-block
			line-height: 1
			cursor: default
			border-bottom: 1px dotted transparent  

//list
.items-nav_small
	margin-bottom: 8px
	.filter-title
		font-size: 12px
		color: #959595  
		+freg
	.filter-list
.items-nav
	margin: 35px 0 7px
	&:first-child
		margin-top: 0
.filter-title
	display: table
	+fbold
	font-size: 14px
	text-transform: uppercase
.container__in
	position: absolute
	top: 50px
	left: 0
	right: 10px
	bottom: 20px  
	padding: 50px 0px 0
	overflow-y: auto
	overflow-x: visible
.container__wrap
	padding: 0 10px 0
	> .items-nav
		margin-top: -40px
		&:first-child
			margin-top: -40px
	> .items-nav_small
		margin-top: 35px
		&:first-child
			margin-top: 35px
	margin: 35px 0 7px
	&:first-child
		margin-top: 0
.items-group
	position: relative
	margin-top: 48px
	padding-top: 35px
	//background: #ccc
	// &:before
	// 	content: ""
	// 	position: absolute
	// 	top: 0
	// 	left: -20px
	// 	right: -17px
	// 	height: 20px
	// 	background: #000       
	
.item
	position: relative
	min-height: 44px
	padding: 15px 20px 15px 15px
	margin-bottom: 7px
	border: 1px solid #ccc
	background: #FFF
	+tr(all .2s linear)
	+clr
	&:hover
		border-color: #aed3e4
		box-shadow: 0 0 5px rgba(13,138,202,.3)
		.btn-edit,
		.btn-del
			opacity: 1
	&.is-made
		.item__user
			p
				text-decoration: line-through 
				color: #616161 
	.activity
		float: right
		margin: 13px 0 0 20px
	.checkbox
		float: left
	.btn-edit,
	.btn-del
		position: absolute
		opacity: 0
		top: 15px  
		+tr(all .2s linear)
	.btn-edit
		right: 47px
	.btn-del
		right: 19px

.item_task
	.item__content
		font-size: 15px
		span, a
			font-size: 13px
.item__top
	+clr
	
.item__title
	position: relative
	font-size: 16px
	.btn-edit
		right: -26px
		top: 3px
.item_simple
	padding: 10px 20px 10px 15px 
	.item__content
		display: block
		padding: 9px 0 0 
		font-size: 13px
		color: #959595 
		height: auto
	.item__title
		float: left
	.item__meta
		float: right
	.filter-list_fixed-width
		margin-right: 0   
		font-size: 16px
.item__ico, .item__status
	float: left
	width: 30px
	height: 44px
	margin-right: 15px
	line-height: 44px
	text-align: center
	font-size: 0 
.item__status
	i
		position: relative
		display: inline-block
		width: 23px
		height: 23px
		border-radius: 50%
		background-color: #e76d65
		box-shadow: inset 0 2px 0 rgba(0,0,0,.15)
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 6px
			+s(checkbox)
.item__ico-money, .item__ico-man
	display: inline-block
	vertical-align: middle
.item__ico-man
	+s(list-man)
.item__ico-money
	+s(list-money)
.item__date
	float: left
	width: 82px
	padding-top: 2px
	strong, span
		display: block
		+fregc
		line-height: 1
	strong
		font-size: 26px
	span
		font-size: 13px
		color: #6E6E6E 
.item__date_mod, .item__date_green
	width: 102px
.item__date_green
	strong
		color: $green 
.item__price
	float: right
	height: 44px
	margin-left: 20px
	+fregc
	font-size: 26px
	color: #E08648
	line-height: 44px  
	&.is-green
		color: $green 
.item__content
	display: table-cell
	height: 44px
	font-size: 16px
	vertical-align: middle
	a, span
		margin-right: 5px
	a
		color: $blue
	span
		color: #8f8f8f
	.with-icon
		color: #fff
		margin: 0 15px 
.item__content_new
	span
		color: #000
		+fbold 
.item__more
	margin-top: 22px
	padding: 3px 0 4px
	text-align: center

.item-edit
	padding: 15px 18px 
	background: #e9e9e9
	+box-shadow(inset 0 0 7px rgba(0,0,0,.2)) 
	.textarea
		padding: 10px 15px 
		min-height: 39px
		height: 39px
.item-edit__top
	margin-bottom: 2px
	font-size: 13px
	color: #8f8f8f 
	a
		color: $blue 	
.item-edit__action
	+clr
	.input-calendar
		float: left
		width: 128px
		.input
			background: #f4f4f4 
.item-edit__btn
	float: right
	+clr
	.btn
		float: left
		width: 150px
		margin-left: 10px 

.btn-more
	position: relative
	width: 250px 
	height: 40px
	border: 1px solid #cdcdcd
	background: #fff
	font-size: 15px
	color: $red 
	+tr(color .2s linear)
	&:after, &:before
		content: ""
		position: absolute
		height: 1px
		background: #FFF 
		border: 1px solid #cdcdcd
		border-width: 0 1px 1px
	&:before
		left: 3px
		right: 3px
		bottom: -3px
	&:after
		left: 7px
		right: 7px
		bottom: -5px	
	&:hover
		color: #8A8A8A 		
	sup
		position: relative
		top: -5px
		padding: 0 5px
		background: #1ea46d
		border-radius: 6px
		vertical-align: top
		font-family: Arial, sans-serif 
		font-size: 11px
		color: #fff
.item__types
	position: absolute
	top: -1px
	left: -1px
	right: -1px
	bottom: -1px
	background: rgba(255,252,226,.9) 
	border: 1px solid #d6d2ac
	text-align: center
	font-size: 0
	li
		display: inline-block
		width: 33.5%
		min-height: 74px
		border-left: 1px solid #d6d2ac 
		vertical-align: middle
		+fbold
		font-size: 22px
		color: #8F8F8F 
		line-height: 74px
		+box
		&:first-child
			width: 33%
			border: none
		&.is-hover
			background: #f9f5d9
			box-shadow: 0 0 6px rgba(0,0,0,.4) inset 
.items-group
	margin-bottom: 40px 


	
//activity
.activity
	font-size: 0
	li
		position: relative
		display: inline-block
		margin-left: 15px
		vertical-align: top
		+fregc
		font-size: 13px
		&:first-child
			margin: 0
	span, i
		display: inline-block
		vertical-align: top
		line-height: 1
	span
		padding-top: 2px
	i
		margin-right: 4px
.activity__ico-1
	+s(activity-ico-1)
.activity__ico-2
	+s(activity-ico-2)
.activity__ico-3
	+s(activity-ico-3)
.activity__ico-4
	+s(activity-ico-4)


//tooltip
.tooltip
	display: none
	position: absolute
	z-index: 1000 
	padding-top: 5px 
	text-align: center
.tooltip__text
	position: relative
	padding: 0 10px
	border-radius: 10px
	background: #262626
	+freg 
	font-size: 12px
	color: #FFF 
	line-height: 1.4
	vertical-align: top
.tooltip__arr
	position: absolute
	top: 2px
	+arr(6,3,#262626,t)

//date
.date
	margin-bottom: 10px
	text-align: center
	a
		display: inline-block
		padding: 0 10px
		+fbold
		font-size: 18px
		color: #8f8f8f 
		vertical-align: middle
		&:hover
			color: $red 
	span
		display: inline-block
		line-height: 1
		border-bottom: 1px dotted 
		+tr(color .2s linear)
	sup
		margin-left: 3px
		vertical-align: top
		font-size: 12px
		+tr(color .2s linear)
.date__prev, .date__next
	position: relative
	width: 32px
	height: 32px
	border-radius: 50%
	border: 1px solid transparent
	font-size: 0
	vertical-align: middle
	overflow: visible
	+tr(all .2s linear)
	i
		position: absolute
		top: 9px 
	&:hover
		border: 1px solid #b6b6b6
.date__prev
	i
		left: 10px
		+s(arr-left)
	&:hover
		i
			+s(arr-left-h)
.date__next
	i
		right: 10px
		+s(arr-right)
	&:hover
		i
			+s(arr-right-h)
.date_current
	span
		border-bottom: none
		color: #000 
		+fbold
		vertical-align: middle
		font-size: 18px
.calendar
	position: absolute
	top: 100px
	left: 50%
	width: 300px
	margin-left: -155px
	background: #FFF 
	border: 5px solid $red
	box-shadow: 0 14px 24px rgba(0,0,0,.15)
.calendar__years, .calendar__months
	text-align: center
	font-size: 0
	li
		display: inline-block
		vertical-align: top
	a
		+fbold
		font-size: 18px
.calendar__years
	padding-top: 20px  
	margin-bottom: 25px
	a
		display: inline-block
		color: #8F8F8F
		border-bottom: 1px dotted 
		line-height: 1
		+tr(all .2s linear)
		&:hover
			color: $red 
	li
		width: 33%
		&.is-active
			a
				border: none
				color: #262626 
.calendar__months
	li
		width: 25%
		margin-bottom: 25px
		line-height: 1
		&.is-disabled
			a
				color: #cecece 
	a
		color: $blue
		+tr(color .2s linear)
		&:hover
			color: $red 
			

//dropbox
.dropbox
	position: absolute
	width: 250px 
	height: 52px
	z-index: 777 
	cursor: pointer
	&.is-many
		&:before, &:after
			content: ""
			position: absolute
			width: 250px
			height: 52px
			background: #FFF 
			+rotate(0)
			+transition(all .15s linear)
			+gpu
		&:before	
			top: 3px
			left: 2px
			box-shadow: 0 0 2px rgba(0,0,0,.6)
			z-index: 4 
		&:after
			top: 5px
			left: 4px
			box-shadow: 0 0 4px rgba(0,0,0,.6)
			z-index: 2 
	&:hover
		&:before
			+rotate(3)
		&:after
			+rotate(6)
.dropbox__in
	position: relative
	padding: 6px 10px
	background: #FFF 
	+box
	box-shadow: 0 0 2px rgba(0,0,0,.6)
	z-index: 10
	> strong, > span
		display: block
		font-weight: normal
		+text-overflow
		+fregc
	> strong
		font-size: 16px
		color: $blue
	> span
		font-size: 14px	
.dropbox__pic
	position: relative
	float: left
	margin-right: 10px
	span
		position: absolute
		top: -1px
		left: -7px
		padding: 0 5px		
		background: #1ea46d
		border-radius: 10px
		font-family: Arial, sans-serif
		font-size: 11px
		color: #fff
		z-index: 3  
	img
		position: absolute
		top: 0
		left: 0
		border-radius: 50%
		z-index: 2
	i
		position: relative
		display: block
		width: 40px
		height: 40px
		border-radius: 50%
		background: #D5D5D5
		z-index: 1 
		&:after
			content: ""
			position: absolute
			top: 9px
			left: 9px
			+s(users-ico)

.stat-wrap
	border-bottom: 1px solid #dedede 
	padding: 13px 20px 7px
	+clr
	text-align: justify
	line-height: 1
	&:after
		content: ""
		width: 100%
		height: 0
		display: inline-block 
.stat
	display: inline-block
	i
		display: inline-block
		margin-right: 8px
		vertical-align: middle
.stat__title
	display: block
	margin-bottom: 6px
	font-size: 11px
	text-transform: uppercase
	color: #6e6e6e
	text-align: center
.stat__counter
	display: inline-block
	vertical-align: middle
	font-size: 36px
	color: #262626 
@for $i from 1 through 5
	.stat__icon#{$i}       
		@include s(stat#{$i})

.user-item
	padding: 0 20px 
	text-align: center
	.btn_green
		margin: 6px 0
.user-item__link
	display: inline-block
	color: $blue
	line-height: 1 
	border-bottom: 1px dotted 
.user-item__name
	margin-bottom: 2px
	font-size: 18px
	+fbold
.user-info__balance
	margin-top: 20px
	color: #828282
	line-height: 1
	span
		display: block
		color: #262626
		font-size: 26px
	
.wtf
	display: inline-block
	color: $blue
	font-size: 14px 
	i
		display: inline-block
		vertical-align: middle
		margin: -4px 5px 0 0
		+s(wtf)

.user-tariff
	padding: 14px 20px
	margin-top: 8px
	border-top: 1px solid #ccc 
	.wrap
		margin: 18px 0 9px
.user-tariff__name
	font-size: 15px
	+fbold
.user-tariff__link
	line-height: 1
	color: $blue 
	border-bottom: 1px dotted 
.user-tariff__info
	float: left
	width: 50%
	font-size: 26px
	line-height: 1
	i
		display: inline-block
		margin-right: 9px
	span
		display: block
		margin-bottom: 3px
		color: #6e6e6e
		font-size: 11px
		text-transform: uppercase 

.icon-tariff-day
	+s(tariff-day)
.icon-tariff-sms
	+s(tariff-sms)

.user-balance
	margin: 16px 0 
	border-top: 1px solid #ccc 
	border-bottom: 1px solid #ccc 
	padding: 0 20px 12px
	background: #fff  
	font-size: 26px
	line-height: 1
	span
		+fbold
		font-size: 13px
	div
		margin: 3px 0 -5px 
	a
		display: inline-block
		color: #1ea46d 
		font-size: 13px
		line-height: 0.9
		border-bottom: 1px dotted 
		
.consult
	.user-enter-img
		float: left
		margin: 0 12px 0 0
		img
			border-width: 2px
		&:before
			display: none
		&:after
			top: 20px
			width: 100px
			margin-left: -31px
.consult__title
	margin-bottom: 8px
	font-size: 15px
	+fbold
.consult__main
	overflow: hidden
	margin-right: 12px
	color: #959595 
	span
		display: block
		font-size: 16px
		color: #272727 
	a
		color: $red 
		border-bottom: 1px dotted 
		
.faq
	margin-top: 27px
	border-top: 1px solid #ccc 
	padding-top: 18px
	li
		margin-bottom: 9px
		
.download-progress
	padding: 50px 20px
	background: #fff  
	.progress
		overflow: hidden
		margin-top: 8px
	.icon-list-clock
		float: left
		margin-right: 11px

.icon-list-clock
	+s(clock)

.file
	i
		display: inline-block
		position: relative
		top: -20px
		+s(file)
.file__main
	display: inline-block
	margin-left: 16px
	color: #aaa
	font-size: 14px 
.file__title
	font-size: 26px
	color: #262626
	vertical-align: top
.btn-remove
	position: relative
	width: 20px
	height: 20px
	border-radius: 50%
	background: $gray 
	&:before
		content: "" 
		position: absolute
		top: 50%
		left: 50%
		margin: -4px 0 0 -4px 
		+s(del2)  
	&:hover
		opacity: .9
	&:active
		top: 1px