.field
	width: 340px
	margin: 0 auto
.field_liquid
	width: 100%
.field_group
	margin-bottom: 55px
	&:last-child
		margin-bottom: 0
.field__group-title 
	display: block
	margin: 15px 0 10px
	font-size: 13px
	color: #8a8a8a
	text-align: center
.field__title
	margin-bottom: 10px
	text-transform: uppercase
	color: #262626 
	+freg
.input-wrap
	position: relative
	margin-bottom: 6px
	+clr
	&.is-required
		&:after 
			content: ""
			position: absolute
			right: 12px
			top: 50%
			margin-top: -4px
			+s(required)
	&.is-valid-ok,
	&.is-valid-error
		&:after
			content: ""
			position: absolute
			right: 15px
			top: 50%
			margin-top: -6px
	&.is-valid-ok
		&:after 
			+s(valid-ok)
	&.is-valid-error
		&:after 
			+s(valid-error)
.input-wrap_btn
	.btn
		float: right
		width: 164px
		&:first-child
			float: left
	.input-key
		float: right
		margin-top: 2px
.input-wrap_footer
	margin-top: 38px
.input-wrap_select
	+clr
	.select
		float: left
		margin-right: -1px
		width: 41%
	.input
		float: left
		width: 59%
.input-wrap_three
	.input,
	.input-calendar
		width: 112px
		float: left
		margin-left: 2px
		&:first-child
			margin-left: 0
.input-wrap__text
	float: right
	margin-top: 15px



.input
	border: 1px solid #b6b6b6
	padding: 0 12px 
	height: 41px
	width: 100%
	+box
	background: #fff 
	+freg
	font-size: 14px
	+transition(border,box-shadow .2s linear)
	+placeholder
		color: #7d7d7d		
	&:hover
		border: 1px solid #aed3e4
	&:focus
		border: 1px solid #aed3e4
		box-shadow: 0 0 5px rgba(13, 138, 202, 0.3)
		outline: none 
.input_box
	padding: 0 7px 
	height: 47px
	line-height: 45px
	span
		display: inline-block
		margin: 0 7px 7px 0 
		padding: 0 10px 
		border: 1px solid #cdcdcd
		height: 30px
		background: #f1f1f1 
		line-height: 30px
		font-size: 15px
		+fbold
		i
			display: inline-block
			margin-left: 14px
			cursor: pointer
			+s(del3)
			vertical-align: middle
.textarea
	padding: 12px
	resize: vertical
.input-calendar
	position: relative
	margin-left: 0
	.input
		padding: 0 5px 0 35px
		width: 100%
		background: transparent
		+fbold 
	&:before
		content: ""
		position: absolute
		left: 11px
		top: 11px
		+s(cal) 
		z-index: 1

.btn   
	display: inline-block
	padding: 0 20px 
	height: 41px
	+box
	text-decoration: none
	font-size: 16px
	+freg	
	+transition(opacity .2s linear)
	&:active
		position: relative
		top: 1px
	&:hover
		opacity: .9
a.btn
	line-height: 41px
.btn_liquid
	display: block  
	width: 100%   
	text-align: center
.btn_red
	background: $red
	color: #fff 
.btn_gray
	background: $gray
	color: #000 	
.btn_green  
	background: $green
	color: #fff 
.btn_blue
	background: $blue
	color: #fff  		

.form__title
	text-align: center
	line-height: 1
	strong
		display: block
		margin: 3px 0
		font-size: 22px
		+fbold
		color: #000
		font-weight: normal 
	span
		font-size: 12px
		color: #828282 
	+ .form__info
		margin-top: -14px
	
.form__title-link
	display: inline-block
	border-bottom: 1px dotted
	font-size: 13px
	line-height: 1 

.form__title_big
	strong
		font-size: 26px
.form__title_small
	strong
		font-size: 16px

.form
	text-align: center
	font-size: 18px
	line-height: 1
	a
		color: #e76e66 
.form_reg
	padding-top: 232px
	.form__title
		margin-bottom: 50px
.form_process
	padding-top: 166px
.form_enter
	padding-top: 97px
	.form__title
		margin-bottom: 15px
	.field
		margin: 29px auto 0
.form__footer
	margin-top: 171px
	color: #7d7d7d
	font-size: 15px 
.enter-process 
	display: inline-block
	margin-bottom: 16px
	border-radius: 50%
	border: 4px solid #fff
	img
		display: block
		border-radius: 50%
		border: 4px solid #e8e8e8s
.form__info
	margin-bottom: 14px
	font-size: 14px
	
.input-key
	display: block
	position: relative
	cursor: pointer
	text-align: center
	span
		position: relative
		display: block
		margin: 0 auto 2px
		width: 50px
		height: 20px
		+box
		border: 1px solid #a0a0a0
		+border-radius(10px)
		background: transparent 
	input
		position: absolute
		left: 50%
		margin-left: -25px
		top: 0
		z-index: 2
		width: 50px
		height: 20px
		opacity: 0
		cursor: pointer
		&:checked
			+ span
				i
					left: 3px
					background: #3cb080 
	strong
		color: #a4a4a4
		font-size: 13px
		font-weight: normal
		+fbold
		+unselectable
						
	i
		position: absolute
		left: 31px
		top: 50%
		margin-top: -7px
		width: 14px
		height: 14px
		+border-radius(50%)
		background: $red
		+transition(all .1s linear)
		&:before	
			content: ""
			position: absolute
			left: 50%
			top: 50%
			margin: -3px 0 0 -4px 
			+s(arr1) 

//checkbox
.checkbox
	position: relative
	display: block
	font-size: 0 
	cursor: pointer
	+clr
	> i
		position: relative
		float: left
		width: 21px 
		height: 21px
		margin-right: 11px
		border: 1px solid #bdbdbd
		border-radius: 50%
		+nosel
	> input
		position: absolute
		top: 5px
		left: 5px
		opacity: 0 
		z-index: 2 
		&:checked + i
			width: 23px
			height: 23px
			border: none
			background-color: #e76d65
			box-shadow: inset 0 2px 0 rgba(0,0,0,.15)
			&:before
				content: ""
				position: absolute
				top: 7px
				left: 6px
				+s(checkbox)
	span
		display: inline-block
		height: 23px
		line-height: 23px
		font-size: 14px
.checkbox__in
	display: block
	overflow: hidden
	font-size: 13px
	+nosel
	
.soc-enter
	overflow: hidden
	a
		float: left
		margin: 0 40px 18px 0 
	.wrapper
		margin-bottom: -18px
	.block-or
		position: absolute
		right: 0
		top: 50%
		margin-top: -20px
		
.soc-enter__fb
	+s(soc-fb)
.soc-enter__odn
	+s(soc-odn)
.soc-enter__vk
	+s(soc-vk)
.soc-enter__g
	+s(soc-g) 
.soc-enter__tw
	+s(soc-tw)
.soc-enter__mail
	+s(soc-mail)

.block-or
	position: relative
	width: 40px
	height: 40px
	line-height: 41px
	text-align: center
	border: 1px solid
	+border-radius(50%)
	font-size: 10px
	color: #c6c6c6 
	+box
	&:after,
	&:before
		content: "" 
		position: absolute
		left: 50%
		width: 1px
		height: 500px
		background: #c6c6c6 
	&:before
		top: -500px
	&:after	
		bottom: -500px
		
.select
	position: relative
	z-index: 2
	cursor: pointer
	font-size: 12px
	+gpu
	&.is-active
		.select__text
			&:after
				+rotate(-180)
.select_white
	background: #fff 
.select__text
	position: relative
	display: block
	padding: 0 25px 0 11px 
	height: 41px
	font-size: 13px
	+fbold
	+box
	line-height: 41px
	border: 1px solid #b6b6b6
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	&:after
		content: ""
		position: absolute
		right: 15px
		top: 50%
		margin-top: -4px
		width: 0px
		height: 0px
		border-style: solid
		border-width: 8px 4px 0 4px
		border-color: #000 transparent transparent transparent
		+transition(all .2s linear)
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	z-index: 100
	border: 1px solid #b6b6b6
	border-top: 0 
	background: #fff
	li
		padding: 11px 
		cursor: pointer
		line-height: 1
		&:hover
			background: $blue
			color: #fff 
	
.radio-wrap
	padding: 5px 20px 	
	border-top: 1px solid #d9d9d9 	
.radio
	position: relative
	display: inline-block
	padding-left: 40px
	cursor: pointer
	&:hover
		i
			background: #fdf5f4 
	input,i
		position: absolute
		left: 0
		top: 50%
		margin-top: -12px
		width: 24px
		height: 24px
		+box
	strong
		display: block
		font-size: 16px
		color: $blue
		font-weight: normal
	span
		+fregc
		font-size: 13px
	input
		z-index: 2
		opacity: 0
		cursor: pointer
		&:checked
			+ i
				background: #e76e66 
				border-color: #e76e66 
				+box-shadow(inset 0 2px 0 rgba(0,0,0,.15))
				&:after
					content: ""
					position: absolute
					top: 50%
					left: 50%
					margin: -4px 0 0 -4px
					width: 8px
					height: 8px
					width: 9px
					background: #fff 
					+border-radius(50%)
					+box-shadow(0 2px 0 rgba(0,0,0,.12))
	
	i
		border: 1px solid #c5c5c5
		+border-radius(50%)
		//+transition(all .2s linear)
		
.btn-edit
	+s(edit)
.btn-del
	+s(del)

.with-icon
	display: inline-block
	vertical-align: middle
	width: 44px
	height: 16px
	text-align: center
	color: #fff
	line-height: 16px
	background: #1ea46d	
	font-size: 12px
	
.radio-key
	position: relative
	display: block
	text-align: center
	cursor: pointer
	span
		position: relative
		color: $blue 
		font-size: 15px
		border-bottom: 1px dotted
		+tr(color .1s linear)
		z-index: 4 
		+fbold
		&:before
			content: ""
			position: absolute
			top: 0
			width: 47px
			height: 18px
			border: 1px solid #9e9e9e
			border-radius: 10px
		&:after
			content: ""
			position: absolute
			top: 4px
			width: 12px
			height: 12px
			border-radius: 50%
			background: $green 
			+tr(all .05s linear)
			z-index: 2 
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0 
		&:checked + span
			color: $green
			border-color: transparent
	label
		display: inline-block
		vertical-align: top
		+tr(color .1s linear)
		cursor: pointer
.radio-key__var-1
	padding-right: 30px
	& > span
		&:before
			right: -56px
		&:after
			right: -51px
	& > input
		&:checked + span
			z-index: 2
			&:after
				right: -25px
.radio-key__var-2
	padding-left: 30px
	& > span
		&:before
			left: -56px
		&:after
			left: -51px
	& > input
		&:checked + span
			z-index: 2
			&:after
				left: -25px
.radio-key_left
	text-align: left
	margin-bottom: 16px		

.menu
	+clr
	li
		float: left
		width: 20%
	a
		position: relative
		display: inline-block
		height: 50px
		line-height: 50px
		color: $blue
		font-size: 18px
		+fbold 
		&.is-active
			color: #000
			&:after 
				content: ""
				position: absolute
				left: 0
				right: 0
				bottom: 0
				height: 4px
				background: #685a8b	
				
.progress
	position: relative
	height: 42px
	line-height: 42px
	font-size: 16px
	&:after
		content: attr(data-value) "%"
		position: absolute
		right: 20px
		top: 0
		bottom: 0
	&:before
		content: attr(data-title)
		position: absolute
		left: 20px
		top: 0
		bottom: 0
		z-index: 2
.progress__title
	position: absolute
	left: 20  
	top: 0
	bottom: 0	
	z-index: 2		
// .progress__counter
// 	position: absolute
// 	right: 20px
// 	top: 0
// 	bottom: 0	
// 	z-index: 2		
.progress__main[value]
	border: none
	width: 100%
	height: 100%
	background: #f1f1f1
	box-shadow: inset 0 0 4px rgba(0,0,0,.1)
.progress__main[value]::-webkit-progress-bar
	background: #f1f1f1
	box-shadow: inset 0 0 4px rgba(0,0,0,.1)

.progress__main[value]::-webkit-progress-value
	position: relative

.progress__main
	&::-webkit-progress-value
		+gh($red, #8979b3)

.item-row-clients
	padding-top: 12px
	.item-row__cell
		width: 30%
		&:nth-child(1)
			width: 40%
.item-row
	display: table 
	padding: 12px 20px
	margin-bottom: -1px
	border: 1px solid #ccc
	width: 100%
	background: #fff
	font-size: 16px
	+tr(all .2s linear)
	+box
	.select
		max-width: 155px
	&:hover
		position: relative
		z-index: 2
		border-color: #aed3e4
		box-shadow: 0 0 5px rgba(13, 138, 202, 0.3)
.item-row__cell
	display: table-cell
	vertical-align: middle
	
.item-row_head
	background: none 
	border: none
	&:hover
		border: none
		box-shadow: none

.download
	padding: 17px 20px 22px 
	background: #fff
	+clr 
	.file
		margin-top: 21px
.download__field
	overflow: hidden
	height: 125px
	line-height: 125px
	text-align: center
	background: #f5f5f5 
	box-shadow: inset 0 0 5px rgba(0,0,0,.3)
	i,div
		display: inline-block
		vertical-align: middle
	i
		margin-right: 22px
		+s(download)
	div
		color: #949494
		font-size: 14px
		text-align: left
		+fbold
		line-height: 1.2
.download__action
	float: right
	margin-left: 5%
	width: 260px
	color: #aaa
	font-size: 14px
	.btn
		margin-bottom: 13px
	a
		color: $blue
	p
		margin-bottom: 18px 
		&:last-child
			margin-bottom: 0
			

.confirm
	position: absolute
	bottom: 0
	right: 0
	left: 0
	z-index: 3
	padding: 20px 20px 10px 
	background: #fff 
	+clr
	box-shadow: 0 -3px 10px rgba(0,0,0,.2)
.confirm__btn
	float: right
	width: 260px
.confirm__text
	overflow: hidden
	font-size: 14px

.btn-add
	position: relative
	display: inline-block
	width: 41px
	height: 41px
	background: $red 
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 50% 
		margin: -9px 0 0 -9px
		+s(add)
	&:hover
		opacity: .9
	&:active
		top: 1px
		