.field
	width: 340px
	margin: 0 auto
.field_liquid
	width: 100%
.field_group
	margin-bottom: 55px
	&:last-child
		margin-bottom: 0
.field__group-title 
	display: block
	margin: 15px 0 10px
	font-size: 13px
	color: #8a8a8a
	text-align: center
.field__title
	margin-bottom: 10px
	text-transform: uppercase
	color: #262626 
	+freg
.input-wrap
	position: relative
	margin-bottom: 6px
	+clr
	&.is-required
		&:after 
			content: ""
			position: absolute
			right: 12px
			top: 50%
			margin-top: -4px
			+s(required)
	&.is-valid-ok,
	&.is-valid-error
		&:after
			content: ""
			position: absolute
			right: 15px
			top: 50%
			margin-top: -6px
	&.is-valid-ok
		&:after 
			+s(valid-ok)
	&.is-valid-error
		&:after 
			+s(valid-error)
.input-wrap_btn
	.btn
		float: right
		width: 164px
		&:first-child
			float: left
	.input-key
		float: right
		margin-top: 2px
.input-wrap_footer
	margin-top: 38px
.input-wrap_select
	+clr
	.select
		float: left
		margin-right: -1px
		width: 41%
	.input
		float: left
		width: 59%
.input-wrap_three
	.input,
	.input-calendar
		width: 112px
		float: left
		margin-left: 2px
		&:first-child
			margin-left: 0
.input-wrap__text
	float: right
	margin-top: 15px



.input
	border: 1px solid #b6b6b6
	padding: 0 12px 
	height: 41px
	width: 100%
	+box
	background: #fff 
	+freg
	font-size: 14px
	+transition(all .2s linear)
	+placeholder
		color: #7d7d7d    
	&:hover
		border: 1px solid #aed3e4
	&:focus
		border: 1px solid #aed3e4
		box-shadow: 0 0 5px rgba(13, 138, 202, 0.3)
.textarea
	padding: 12px
	resize: vertical
.input-calendar
	position: relative
	margin-left: 0
	.input
		padding: 0 5px 0 35px
		width: 100%
		background: transparent
		+fbold 
	&:before
		content: ""
		position: absolute
		left: 11px
		top: 11px
		+s(cal) 
		z-index: 1

.btn
	display: inline-block
	padding: 0 20px 
	height: 41px
	+box
	text-decoration: none
	font-size: 16px
	+freg  
	+transition(all .2s linear)
	&:active
		position: relative
		top: 1px
a.btn
	line-height: 41px
.btn_liquid
	display: block
	width: 100%
	text-align: center
.btn_red
	background: #e76e66
	color: #fff
	&:hover
		background: #FC786F 
.btn_gray
	background: #cbcbcb
	color: #000 
	&:hover
		background: #d7d7d7 	
		
.form__title
	text-align: center
	line-height: 1
	strong
		display: block
		margin: 3px 0
		font-size: 22px
		+fbold
		color: #000
		font-weight: normal 
	span
		font-size: 12px
		color: #828282 
	+ .form__info
		margin-top: -14px
	
.form__title-link
	display: inline-block
	border-bottom: 1px dotted
	font-size: 13px
	line-height: 1 

.form__title_big
	strong
		font-size: 26px
.form__title_small
	strong
		font-size: 16px

.form
	text-align: center
	font-size: 18px
	line-height: 1
	a
		color: #e76e66 
.form_reg
	padding-top: 232px
	.form__title
		margin-bottom: 50px
.form_process
	padding-top: 166px
.form_enter
	padding-top: 97px
	.form__title
		margin-bottom: 15px
	.field
		margin: 29px auto 0
.form__footer
	margin-top: 171px
	color: #7d7d7d
	font-size: 15px 
.enter-process 
	display: inline-block
	margin-bottom: 16px
	border-radius: 50%
	border: 4px solid #fff
	img
		display: block
		border-radius: 50%
		border: 4px solid #e8e8e8s
.form__info
	margin-bottom: 14px
	font-size: 14px
	
.input-key
	display: block
	position: relative
	cursor: pointer
	text-align: center
	span
		position: relative
		display: block
		margin: 0 auto 2px
		width: 50px
		height: 20px
		+box
		border: 1px solid #a0a0a0
		+border-radius(10px)
		background: transparent 
	input
		position: absolute
		left: 50%
		margin-left: -25px
		top: 0
		z-index: 2
		width: 50px
		height: 20px
		opacity: 0
		cursor: pointer
		&:checked
			+ span
				i
					left: 3px
					background: #3cb080 
	strong
		color: #a4a4a4
		font-size: 13px
		font-weight: normal
		+fbold
		+unselectable
						
	i
		position: absolute
		left: 31px
		top: 50%
		margin-top: -7px
		width: 14px
		height: 14px
		+border-radius(50%)
		background: $red
		+transition(all .1s linear)
		&:before	
			content: ""
			position: absolute
			left: 50%
			top: 50%
			margin: -3px 0 0 -4px 
			+s(arr1) 

//checkbox
.checkbox
	position: relative
	display: block
	font-size: 0 
	cursor: pointer
	+clr
	> i
		position: relative
		float: left
		width: 21px 
		height: 21px
		margin-right: 11px
		border: 1px solid #bdbdbd
		border-radius: 50%
		+nosel
	> input
		position: absolute
		top: 5px
		left: 5px
		opacity: 0 
		z-index: 2 
		&:checked + i
			width: 23px
			height: 23px
			border: none
			background-color: #e76d65
			box-shadow: inset 0 2px 0 rgba(0,0,0,.15)
			&:before
				content: ""
				position: absolute
				top: 7px
				left: 6px
				+s(checkbox)
.checkbox__in
	display: block
	overflow: hidden
	font-size: 13px
	+nosel
	
.soc-enter
	overflow: hidden
	a
		float: left
		margin: 0 40px 18px 0 
	.wrapper
		margin-bottom: -18px
	.block-or
		position: absolute
		right: 0
		top: 50%
		margin-top: -20px
		
.soc-enter__fb
	+s(soc-fb)
.soc-enter__odn
	+s(soc-odn)
.soc-enter__vk
	+s(soc-vk)
.soc-enter__g
	+s(soc-g) 
.soc-enter__tw
	+s(soc-tw)
.soc-enter__mail
	+s(soc-mail)

.block-or
	position: relative
	width: 40px
	height: 40px
	line-height: 41px
	text-align: center
	border: 1px solid
	+border-radius(50%)
	font-size: 10px
	color: #c6c6c6 
	+box
	&:after,
	&:before
		content: "" 
		position: absolute
		left: 50%
		width: 1px
		height: 500px
		background: #c6c6c6 
	&:before
		top: -500px
	&:after  
		bottom: -500px
		
.select
	position: relative
	cursor: pointer
	font-size: 12px
	+gpu
	&.is-active
		.select__text
			&:after
				+rotate(-180)
.select_white
	background: #fff 
.select__text
	position: relative
	display: block
	padding: 0 25px 0 11px 
	height: 41px
	font-size: 13px
	+fbold
	+box
	line-height: 41px
	border: 1px solid #b6b6b6
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	&:after
		content: ""
		position: absolute
		right: 15px
		top: 50%
		margin-top: -4px
		width: 0px
		height: 0px
		border-style: solid
		border-width: 8px 4px 0 4px
		border-color: #000 transparent transparent transparent
		+transition(all .2s linear)
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	z-index: 100
	border: 1px solid #b6b6b6
	border-top: 0 
	background: #fff
	li
		padding: 11px 
		cursor: pointer
		line-height: 1
		&:hover
			background: $blue
			color: #fff 
	
.radio-wrap
	padding: 5px 20px 	
	border-top: 1px solid #d9d9d9 	
.radio
	position: relative
	display: inline-block
	padding-left: 40px
	cursor: pointer
	&:hover
		i
			background: #fdf5f4 
	input,i
		position: absolute
		left: 0
		top: 50%
		margin-top: -12px
		width: 24px
		height: 24px
		+box
	strong
		display: block
		font-size: 16px
		color: $blue
		font-weight: normal
	span
		+fregc
		font-size: 13px
	input
		z-index: 2
		opacity: 0
		cursor: pointer
		&:checked
			+ i
				background: #e76e66 
				border-color: #e76e66 
				+box-shadow(inset 0 2px 0 rgba(0,0,0,.15))
				&:after
					content: ""
					position: absolute
					top: 50%
					left: 50%
					margin: -4px 0 0 -4px
					width: 8px
					height: 8px
					width: 9px
					background: #fff 
					+border-radius(50%)
					+box-shadow(0 2px 0 rgba(0,0,0,.12))
  
	i
		border: 1px solid #c5c5c5
		+border-radius(50%)
		//+transition(all .2s linear)
		
.btn-edit
	+s(edit)
.btn-del
	+s(del)

.with-icon
	display: inline-block
	vertical-align: middle
	width: 44px
	height: 16px
	text-align: center
	color: #fff
	line-height: 16px
	background: #1ea46d  
	font-size: 12px