.overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 10000
    overflow: auto
    background: rgba(0,0,0,.7) 
    
.popup
    position: fixed
    top: 105px
    left: 50%
    z-index: 20000
    margin-left: -350px
    padding: 25px 123px 63px
    width: 700px
    background: #f7f7f7 
    +box
    box-shadow: 0 10px 38px rgba(0,0,0,.25)
    .form__title
        margin-bottom: 44px
    .btn-close
        position: absolute
        top: -11px
        right: -11px
    .textarea
        height: 277px
        resize: none
    &.is-not-fixed
        position: absolute
.popup-open
    .out,
    .dropbox
        -webkit-filter: blur(2px)
.btn-close
    position: relative
    background: $red
    width: 22px
    height: 22px
    border-radius: 50% 
    &:active
        margin-top: 1px
    &:after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        margin: -6px 0 0 -6px
        +s(close)  

.pay-balance   
    +clr
.pay-balance__item
    float: left
    margin: 0 1px 1px 0 
    a
        display: block
        padding: 13px 0 
        width: 150px
        font-size: 16px
        line-height: 1
        color: #fff
        background: #3cb080  
        &.is-active
            background: #2a855f 
            box-shadow: inset 0 2px 3px rgba(0,0,0,.4)
            color: #125c3d 
.popup_balance
    .form__title
        margin-bottom: 6px
        strong
            margin-bottom: 40px
.pay-balance-summ
    margin: 15px 0 62px
    +clr
    .input
        float: left
        margin-right: 15px
        width: 150px
    .checkbox
        float: left
        margin-top: 8px
        text-align: left
        div
            overflow: hidden
        span
            font-size: 15px
            display: block
        strong
            font-size: 13px
            color: #3cb080
            +fbold
            font-weight: normal 
    .rubl-icon
        +rubl-b
        font-size: 11px
.rubl-icon
    +rubl
    font-style: normal

.user-enter-img
    position: relative
    margin-bottom: 32px
    img
        position: relative
        z-index: 2
        margin: 0 auto 
        display: block
        border: 4px solid #fff
        +border-radius(50%)
        background: #fff 
    &:after
        content: ""
        position: absolute
        top: 47px
        left: 50%
        margin-left: -54px
        width: 200px 
        height: 108px
        +border-radius(40px)
        +gh(rgba(0,0,0,.04), rgba(0,0,0,0) 100%)
        +rotate(45)

.input-wrap_radio
    +clr
    .input
        float: left
        width: 220px
    .input-key
        float: right
        margin-top: 2px
.input-wrap_send
    margin-top: 13px